<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Employee</title>
</head>
<body>
<form method="post" th:action="'/showDepartments/' + ${depId} + '/showEmployees'">
    <input type="hidden" id = "id" th:field = "*{emp.id}">
    <div><label for="name">Name </label>
        <input id="name" th:field = "*{emp.name}">
    </div>
    <div><label for="surname">Surname </label>
        <input id="surname" th:field = "*{emp.surname}">
    </div>
    <div><label for="salary">Salary </label>
        <input id="salary" th:field = "*{emp.salary}">
    </div>
    <div><label for="city">City </label>
        <input id="city" th:field = "*{emp.employeeDetail.city}">
    </div>
    <div><label for="phoneNumber">Phone Nimber </label>
        <input id="phoneNumber" th:field = "*{emp.employeeDetail.phoneNumber}">
    </div>
    <div><label for="email">Email </label>
        <input id="email" th:field = "*{emp.employeeDetail.email}">
    </div>
    <input type="submit" value="Save">
</form>
</body>
</html>